[Unit]
Description=Starts the server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/start.sh

[Install]
WantedBy=multi-user.target